#pt_qrbox {
    margin-top: 8mm;
    text-align: center;
}

#atcud {
    font-size: 12pt;
}

#pt_qrcode {
    // display: flex;
    // justify-content: center;

    width: 60%;
    display: block;
    margin: 0 auto;
}

.pt_vat_exemption_reason {
    font-size: 50%;
    font-style: italic;
    vertical-align: super;
}

.pt_vat_exemption_reason_description {
    font-size: 60%;
    font-style: italic;
}
