#pt_qrbox {
    margin-top: 8mm;
    text-align: center;
}

#atcud {
    font-size: 12pt;
}

#pt_qrcode {
    width: 90%;
    display: block;
    margin: 0 auto;
}

.pt_vat_exemption_reason_description {
    font-size: 80%;
    font-style: italic;
}
